$primary: #2179b4;
$font-size:50px;
$white-color:rgb(255, 255, 255);

@mixin button($color) {
padding: 10px 14px;
background: $color;
color: $white-color;
border-radius: 8px;
text-decoration: none;
}

.card {
padding: 16px;
overflow:hidden;
&__title {
font-size: $font-size;
}
&__description{
font-size: 20px;
}
&__img{
  float: left;
   margin-right: 15px;
    margin-bottom: 10px;
      height:200px;
    width:auto;
}
&--accent {
border: 2px solid $primary;
}
}

.btn {
// Подключаем миксин и передаём основной цвет
@include button($primary);
}