$primary: #2179b4;
$font-size: 50px;
$white-color: rgb(255, 255, 255);

@mixin text-highlight($bg-color, $text-color) {
  padding: 8px 12px;
  background: $bg-color;
  color: $text-color;
  border-radius: 6px;
  display: inline-block;
  line-height: 1.3;
}

.card {
  padding: 16px;
  overflow: hidden;
  box-sizing: border-box;
  
  &__title {
    font-size: $font-size;
    margin: 0 0 12px 0;
    @include text-highlight(transparent, $primary);
  }
  
  &__description {
    font-size: 20px;
    margin: 0;
    @include text-highlight($primary, $white-color);
  }
  
  &__img {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    height: 200px;
    width: auto;
    border-radius: 4px;
  }
  
  &--accent {
    border: 2px solid $primary;
  }
}